# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Default:
{% for connection in pg_cfg_pg_hba_default %}
{% if connection.comment %}
# {{ connection.comment }}
{% endif %}
{{ connection.type }}  {{ connection.database }}  {{ connection.user }}  {{ connection.address }}  {{ connection.method }}
{% endfor %}
{% if pg_cfg_pg_hba_passwd_hosts %}

# Passworded hosts
{% for host in pg_cfg_pg_hba_passwd_hosts %}
{% if connection.comment %}
# {{ connection.comment }}
{% endif %}
host  all  all  {{ host }}  password
{% endfor %}
{% endif %}
{% if pg_cfg_pg_hba_trust_hosts %}

# Trusted hosts
{% for host in pg_cfg_pg_hba_trust_hosts %}
{% if connection.comment %}
# {{ connection.comment }}
{% endif %}
host  all  all  {{ host }}  trust
{% endfor %}
{% endif %}
{% if pg_cfg_pg_hba_custom  %}

# User custom
{% for connection in pg_cfg_pg_hba_custom %}
{% if connection.comment %}
# {{ connection.comment }}
{% endif %}
{{ connection.type }}  {{ connection.database }}  {{ connection.user }}  {{ connection.address }}  {{ connection.method }}
{% endfor %}
{% endif %}
