# Python
*.pyc

# PyCharm
.idea

# Eclipse
.project
.pydevproject
.settings

# OS files
.DS_Store
*.swp
*.test

# Configuration files
etc/config.yml
etc/hosts.cfg
etc/files

# python virtualenvs
envs
envs[23]
