- name: Generate self-signed SSL certificate
  command: openssl req -new -nodes -x509 -subj "/C=SK/ST=Slovakia/L=Bratislava/O=IT/CN=*.*" -days 3650 -keyout /etc/pki/tls/certs/server.key -out /etc/pki/tls/certs/server.crt -extensions v3_ca creates=/etc/pki/tls/certs/server.crt

- name: Create self-signed SSL certificate in PEM format
  shell: cat /etc/pki/tls/certs/server.key /etc/pki/tls/certs/server.crt > /etc/pki/tls/certs/server.pem

- name: Change permissions of /etc/pki/tls/certs/server.pem
  file: path=/etc/pki/tls/certs/server.pem owner=root group=root mode=0600

- name: Remove stale certificate files
  file: path={{ item }} state=absent
  with_items:
    - /etc/pki/tls/certs/server.key
    - /etc/pki/tls/certs/server.crt

- name: Configure openssl.cnf for generating erigonesd SSL certificate
  ini_file: dest="/etc/pki/tls/openssl.cnf"
            section="SAN"
            option="subjectAltName"
            value="{{ esdc_mgmt.erigonesd.subjectAltName }}"
