# Firewall configuration written by system-config-firewall
# Manual customization of this file is not recommended.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
{% for port in firewall_allowed_udp_ports %}
-A INPUT -m state --state NEW -m udp -p udp --dport {{ port.port }}{% if port.src is defined %} -s {{ port.src }}{% endif %}{% if port.iface is defined %} -i {{ port.iface }}{% endif %} -j ACCEPT
{% endfor %}
{% for port in firewall_allowed_tcp_ports %}
-A INPUT -m state --state NEW -m tcp -p tcp --dport {{ port.port }}{% if port.src is defined %} -s {{ port.src }}{% endif %}{% if port.iface is defined %} -i {{ port.iface }}{% endif %} -j ACCEPT
{% endfor %}
{% for rule in firewall_additional_rules %}
{{ rule }}
{% endfor %}
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
