======== Danube Cloud {{ release_edition_long }} {{ version }} ========

Platform password: {{ platform_password }}
Platform release: {{ platform_version }} (upstream/{{ platform_upstream_version }})
SHA1 checksum ({{ usb_image_file }}): {{ usb_image_file_sha1 }}

{{ release_notes }}
