---
- meta: flush_handlers

- name: Inspect the VM before final image preparation begins
  pause:
  when: image_debug is defined and image_debug

- name: Register OS information (CentOS)
  shell: cat /etc/redhat-release
  register: os_info
  when: ansible_distribution == "CentOS"

- name: Register OS information (SmartOS)
  shell: cat /etc/pkgsrc_version
  register: os_info
  when: ansible_distribution == "SmartOS"

- name: Prepare virtual machine for snapshotting (CentOS)
  shell: prepare-image
  when: ansible_distribution == "CentOS"

- name: Prepare virtual machine for snapshotting (SmartOS)
  shell: |
    export yn_start="y"
    export yn_nfs="y"
    export yn_subips="y"
    export yn_halt="n"
    sm-prepare-image
  when: ansible_distribution == "SmartOS"

- name: Display OS information
  debug:
    var: os_info

- name: Cleanup /root/.ssh/authorized_keys
  file: path=/root/.ssh/authorized_keys state=absent
