---
- fail: msg="Invalid OS; Only SmartOS is supported."
  when: ansible_distribution != "SmartOS"

- name: Include OS-specific variables
  include_vars: ../defaults/{{ ansible_distribution }}.yml

- name: Install PowerDNS recursor packages
  command: pkgin -y install {{ item }}
  register: res
  changed_when: "'nothing to do.' not in res.stdout"
  with_items: "{{ recursor_packages }}"

- name: Disable pdns-recursor service
  command: svcadm disable pdns-recursor

- name: Copy SMF manifests to the remote hosts
  copy: src=pdns-recursor.xml
        dest=/opt/local/lib/svc/manifest/pdns-recursor.xml
        owner=root
        group=root
        mode=0644

- name: Import pdns-recursor SMF manifest
  command: /usr/sbin/svccfg import /opt/local/lib/svc/manifest/pdns-recursor.xml

- name: Disable pdns-recursor service
  command: svcadm disable pdns

- name: Create pdns-recursor group
  group: name={{ recursor_setgid }}
         state=present

- name: Create pdns-recursor user
  user: name={{ recursor_setuid }}
        group={{ recursor_setgid }}
        shell=/usr/bin/false
        comment="PowerDNS recursor daemon user"
        state=present

- name: Create recursor configuration file
  template: src=recursor.conf.j2
            dest={{ recursor_config_dir }}/recursor.conf
            owner=root
            group={{ recursor_setgid }}
            mode=0640
